<div ng-controller="holdsController as ctr">
  <div class="row margin-M-side" ng-if="noData" ng-cloak>
    <div class="col s12 m6">
        <div class="card red darken-1">
        <div class="card-content white-text">
            <p>The library is not valid or there is no recent data available for this library.</p>
        </div>
        </div>
    </div>
  </div>
  <div class="progress" ng-if="isLoading" ng-cloak>
    <div class="indeterminate"></div>
  </div>

  <div class="row margin-M-side" ng-if="!noData" ng-cloak>
    <div class="col s12 m6">
      <table class="scroll-table">
        <thead>
          <tr>
              <th>ISBN</th>
              <th>Title</th>
              <th>Number of Holds</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in selectedData" >
            <td>{{item.isbn}}</td>
            <td>{{item.title}}</td>
            <td>{{item.transactions}}</td>
          </tr>
        </tbody>
      </table>
      <div class="center">
        <label ng-repeat="item in types">
          <input name="group1" type="radio" ng-change="ctr.select()" ng-model="ctr.selected" value='{{item.token}}'/>
          <span>{{item.display}}</span>
        </label>
      </div>
    </div>
  </div>
</div>
